<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#ff808a">
    <!-- Your app title -->
    <title>考试进行中</title>
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="/bower_components/Framework7/dist/css/framework7.material.min.css">
    <link rel="stylesheet" href="/stylesheets/colors.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="theme-white color">
    <div class="views">
      <div class="view view-main">
        <div class="pages">
        <!-- --------------------- -->
          <div data-page="answersheet" class="page">
 
            <div class="navbar">
              <div class="navbar-inner">
                  <div class="left">
                    <a href="exam.html" class="icon-only link back">
                          <i class="iconfont small">&#xe617;</i>
                      </a>
                  </div>
                  <div class="center countdown">答题卡</div>
                  <div class="right">
                      <a href="#" class="icon-only countdown">
                          <i class="iconfont">1:18:52</i>
                      </a>
                  </div>
              </div>
          </div>  

            <div class="page-content">

              <div class="content-block">

                  <div class="sheet-title card">
                    <h2>数据结构与算法</h2>
                  </div>

                  <div class="exam-intro card">
                    <div class="exam-intro-content row no-gutter">
                      <ul class="col-50">
                        <li>答题人：<span class="username-txt">陈惠霞</span></li>
                        <li>创建老师：<span class="teachername-txt">陈老师</span></li>
                      </ul>
                      <ul class="col-50">
                        <li>班级：<span class="userclass-txt">12计科一班</span></li>
                        <li>考试时间：<span class="examtimelimit-txt">90</span>分钟</li>
                      </ul>
                    </div>
                    <h1 style="margin:10px;font-size:40px;text-align:center;color:skyblue">100<small style="font-size:14px">分</small></h1>
                  </div>              
              </div>
              <div class="list">
                  <ol class="qid-list">
                    <li class="qid-item"><strong class="qid qid-answered ripple">1</strong><i>√</i></li>
                    <li class="qid-item"><strong class="qid qid-answered ripple">2</strong><i>√</i></li>
                    <li class="qid-item"><strong class="qid qid-answered ripple">3</strong><i>√</i></li>
                    <li class="qid-item"><strong class="qid qid-answered  ripple">4</strong><i>√</i></li>
                    <li class="qid-item"><strong class="qid qid-answered ripple">5</strong><i>√</i></li>
                    <li class="qid-item"><strong class="qid qid-answered ripple">6</strong><i>√</i></li>
                    <li class="qid-item"><strong class="qid qid-answered ripple">7</strong><i>√</i></li>
                    <li class="qid-item"><strong class="qid qid-answered ripple">8</strong><i>√</i></li>
                    <li class="qid-item"><strong class="qid qid-answered ripple">9</strong><i>√</i></li>
                    <li class="qid-item"><strong class="qid qid-answered ripple">10</strong><i>√</i></li>
                  </ol>
              </div>

          </div>

          <div class="toolbar turning">
            <div class="toolbar-inner handin">
                <a href="/" class="link handin-btn"><i class="iconfont">&#xe62c;</i>返回首页</a>
            </div>
          </div>

        </div>
        <!-- ------------------- -->
      </div>

    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/bower_components/Framework7/dist/js/framework7.min.js"></script>
    <script src="/javascripts/my-app.js"></script>

  </body>
</html> 