<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#ff808a">
    <!-- Your app title -->
    <title>考试进行中</title>
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="bower_components/Framework7/dist/css/framework7.material.min.css">
    <link rel="stylesheet" href="stylesheets/colors.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- <link rel="stylesheet" href="stylesheets/highlight/monokai-sublime.css"> -->
    <link rel="stylesheet" id="code-style" href="stylesheets/highlight/tomorrow.css">
    <script src="javascripts/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body class="theme-white color">
    <div class="views">
      <div class="view view-main">
        <div class="pages">
        <!-- --------------------- -->
          <div data-page="exam" class="page">
 
            <div class="navbar">
              <div class="navbar-inner">
                  <div class="left">
                    <a href="main.html" class="icon-only link">
                          <i class="iconfont small">&#xe617;</i>
                      </a>
                  </div>
                  <div class="center countdown">1:18:52</div>
                  <div class="right">
                      <a href="/app/answersheet" class="icon-only link">
                          <i class="iconfont">&#xe618;</i>
                      </a>
                  </div>
              </div>
          </div>  

            <div class="page-content">

              <div class="content-block">

                  <div class="exam-title card">
                      <div class="row no-gutter">
                        <div class="col-80">
                          <h2>移动Web开发期末测验</h2>
                        </div>
                        <div class="col-20">
                          <p><span class="questionNum">12</span>/<span class="questionSum">43</span></p>
                        </div>
                      </div>
                  </div>

                  <div class="question row card">
                    <h3 class="question-type"><span>单选题</span></h3>
                    <div class="question-content">
                      <p>以下关于mysql复制关系，描述错误的一项是?请给出这段代码的运行结果（ ）</p>
                      <div class="code">
                        <pre><code class="javascript">myApp.login=myApp.login||{};
myApp.login.buttonLoading=function(cb){
  var btn=$$('#loginBtn');
  btn.click(function(event) {
    btn.addClass('loginBtn-shrink');

    cb&&cb();
  });
}</code></pre>
                      </div>
                    </div>
                    <a href="javascript:;" class="button code-style-toggle"><i class="iconfont">&#xe626;</i></a>
<!-- &#9;-Tab &#10;-换行 -->
                  </div>
    <script src="javascripts/prism.js"></script>
              </div>
              
              <div class="list-block answerList">
                <ul>
                  <!-- Single radio input -->
                  <li>
                    <label class="label-radio item-content">
                      <!-- Checked by default -->
                      <input type="radio" name="my-radio" value="Books" checked="checked">
                      <div class="item-media">
                        <i class="icon icon-form-radio"></i>
                        <span class="optionCode">A</span>
                      </div>
                      <div class="item-inner">
                        <div class="item-title">显示隐藏</div>
                      </div>
                    </label>
                  </li>
                  <!-- Another radio input -->
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="my-radio" value="Movies">
                      <div class="item-media">
                        <i class="icon icon-form-radio"></i>
                        <span class="optionCode">B</span>
                      </div>
                      <div class="item-inner">
                        <div class="item-title">给元素绑定样式</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="my-radio" value="Movies">
                      <div class="item-media">
                        <i class="icon icon-form-radio"></i>
                        <span class="optionCode">C</span>
                      </div>
                      <div class="item-inner">
                        <div class="item-title"><code>var myDiv = document.getElementById ("statusCode");
                        myDiv.innerHTML = req.statusCode;</code></div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="my-radio" value="Movies">
                      <div class="item-media">
                        <i class="icon icon-form-radio"></i>
                        <span class="optionCode">D</span>
                      </div>
                      <div class="item-inner">
                        <div class="item-title">Movies</div>
                      </div>
                    </label>
                  </li>
                </ul>
              </div>
              <!-- /radio -->

            </div>
            <div class="toolbar turning">
              <div class="toolbar-inner">
                  <a href="exam2.html" class="link"><i class="iconfont">&#xe639;</i></a>
                  <a href="exam2.html" class="link"><i class="iconfont">&#xe636;</i></a>
              </div>
            </div>

          </div>
          <!-- ------------------- -->
        </div>
      </div>

    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="bower_components/Framework7/dist/js/framework7.min.js"></script>
    <script src="javascripts/my-app.js"></script>

  </body>
</html> 