html{
	font-size: 10px;
}

/*------------login-page-----------*/
div[data-page=login] .page-content{
	background: gray;
}
#loginFormWrap{
	position: absolute;
	bottom: 0;
}
div[data-page=login] .page-content .content{
	/*position: relative;*/
}
#loginFormWrap{
	width:100%;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	padding:0 2rem;
}
#loginFormWrap input{
	box-sizing: border-box;
	width: 100%;
	display: block;
	margin:2rem 0;
	height:4rem;
	border-radius: 0;
	border:1px solid #ddd;
	box-shadow: none;
	-webkit-appearance: none;
}