html{
	font-size: 12px;
}
body{
	font-size: 12px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	color:#607d8b;
	color:SlateGray;
}
@font-face {
	font-family: 'iconfont';
    src: 
    url('../images/icons/iconfont.woff') format('woff'), 	/* chrome、firefox */
    url('../images/icons/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../images/icons/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.startsoon:after{
	/*content:'&#xe603;*/
}
/*------------login-page-----------*/
#logoWrap{
	margin: 5rem;
	text-align: center;
}
#logo{
	width: 6rem;
	height: 6rem;
	background: url(../images/logo.png) no-repeat;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
#logoWrap h1{
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
	color: #fff;
	margin-left: 1.4rem;
}
div[data-page=login] .page-content{
	background:#000 url(../images/login_bg.jpg) no-repeat;
	background-size:100% 100%;
}
#loginFormWrap{
	position: absolute;
	bottom: 0;
	text-align: center;
}
div[data-page=login] .page-content .content{
	/*position: relative;*/
}
#loginInputWrap{
	width:100%;
	box-sizing: border-box;
	position: absolute;
	bottom: 10rem;
	padding:0 5rem;
}
#loginInputWrap input{
	box-sizing: border-box;
	width: 100%;
	display: block;
	border-radius: 3px;
	border:0px solid #000;
	box-shadow: 0 1px 1px 0 #ccc;
	-webkit-appearance: none;
	padding:0 1rem;
	font-size: 1.3rem;
	text-align: center;
	height:4rem;
	line-height: 4rem;
	opacity: 0.9;
}
#username{
	margin-bottom:2.8rem;
}
#loginForm p{
	/*position: relative;*/
	padding:0 5rem;
	box-sizing: border-box;
	position: absolute;
	bottom:5rem;
	width: 100%;
	text-align: center;
}
#loginBtn{
	height:5rem;
	line-height: 5rem;
	display:block;
	width:100% ;
	position: absolute;
	bottom:2rem;
	transition: 0.5s;
	font-size: 1.4rem;
	background: MediumTurquoise;
	text-align: center;
	color:white;
}
/*--Shrink--*/
#loginForm .loginBtn-shrink{
	width: 5rem;
	border-radius: 5rem;
	min-width: 0;
	padding: 0;
	margin:0 auto;
	left: 0;
	right: 0;
}
.loginBtn-shrink #login-word{
	display: none;
}
#login-loading{
	width: 3rem;
	height: 3rem;
	background-image: url(../images/icons/loading.png);
	background-size: cover;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
    display:none;
}
.loginBtn-shrink #login-loading{
	display: inline-block;
	-webkit-animation-name: btn-loading-spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes btn-loading-spin{
    0% {}
    50% {transform:rotate(180deg);}
    100% {transform:rotate(360deg); }
}
/*--Spread--*/
#loginForm .loginBtn-spread{
    transition: 0.5s;
    width: 140vh;
	height:150vh;
	left: -50vw;
	bottom:-50vw;
	border-radius: 200vh;
}
#loginForm .loginBtn-spread span{
	display: none;
}

/*------------Main------------------*/

.page-content{
	background: #f5f5f5;
}
.navbar{
	height:4rem;
	position: relative;
	/*min-height: 0;*/
}
.navbar-inner {
  justify-content: space-between;
}
.navbar-inner .right,.navbar-inner .left{
  	margin:0;
}
.navbar-inner .right .icon-only i,.navbar-inner .left .icon-only i{
  	padding: 1rem;
	color:LightCoral;
	font-size:2rem;
}
.navbar-inner .icon-only .small{
	font-size:1.5rem !important;
}
.navbar-inner .center{
  	margin:auto;
	position: absolute;
	left: 5rem;
	right: 5rem;
	top: 0;
	bottom: 0;
	text-align: center;	
	line-height: 4rem;
	font-size: 1.3rem;
	color:slateGray;
}
.navbar .ripple-wave {
    background-color: pink;
}    
.navbar .ripple:before{
	background-image: radial-gradient(circle at center,rgba(200, 200, 200, 1) 66%,rgba(23, 26, 232, 0) 66%);
}
div[data-page] .page-content{
	padding-top: 4rem;
}
.page>.navbar{
  background: #fff;
  color:#000;
  border-bottom: 1px solid #ddd;
  /*position: relative;*/
}
.content-block{
	margin-top: 0rem;
	margin-bottom: 1rem;
}
/*div[data-page=main] .navbar .right i{
}*/
.card{
	/*min-height: 4rem;*/
	background: #fff;
	box-shadow: 0 1px 1px 0 #ddd;
	border-radius: 4px;
	overflow: hidden;
	margin: 0;
	margin-top: 1rem;
}
.search-bar{
	height: 4rem;
}
.search-bar input{
	width: 100%;
	height: 4rem;
	border:0;
	border-radius: 0 0 0 0;
	-webkit-appearance:none;
	font-size:1.3rem;
}
.searchbar-btn {
	margin: 0;
	padding: 0;
	min-width: 0;
	height: 4rem;
}
.searchbar-btn i{
	background-image: url(../images/icons/search.png);
	background-size:cover;
	width: 3rem;
	height: 3rem;
	display: inline-block;
	margin-top:0.5rem;
}
.main-stat{
	padding:1rem;
}
.main-stat .col-50:nth-child(1){
	border-right:1px solid #eee;
}
.main-stat span,.main-stat strong{
	display: block;
	text-align: center;
	font-weight: normal;
	font-size: 1.2rem;
}
.main-stat strong{
	color:lightCoral;
}
h2{
	font-weight: normal;
	margin: 0;
}
.list{
	padding: 0;
	margin: 0;
	background: #fff;
}
.list li{
	padding: 1rem 0;
	margin: 0;
	border-bottom:1px solid #eee;
	position: relative;
	overflow: hidden;
	-webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.examList li{
	min-height: 7rem;
}
.examList li a{
	margin: 0;
	padding: 0;
	color:inherit;
	width:100%;
}
.examList li .ripple-wave{
	/*background-color:red; */
}
ul.list li:nth-child(1){
	border-top:1px solid #eee;
}
.examList .col-25{
	min-height: 7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:center;
	color:LightCoral;
}
.examList .col-25 span{
	font-size:1.2rem;
	flex-grow:1;
}
.examList .col-25 strong{
	font-weight: normal;
	flex-grow:1;
	line-height: 3rem;
}
.examList .col-25 strong i{
	font-size: 3rem;
}
.examList .startSoon{
	color:SkyBlue;
}
.examList .examing{
	color:LightCoral;
}
.examList .col-75{
	min-height: 7rem;
}
.examList .col-75 h3{
	font-weight: normal;
	color: LightCoral;
	font-size: 1.4rem;
	margin:0 0 1rem 0;
}
.examList .col-75 .teacherName{
	margin-right:2rem;
}
.examList .col-75 p{
	/*max-resolution: 0.1em;*/
	margin:0.1rem;
	font-size: 1.2rem;
}
.examList li.no-data{
	height:3rem;
	min-height:0;
}
.examList li.no-data i,.examList li.no-data h3{
	opacity: 0.4;
}

.historyExamList .col-25 strong i{
	display: inline-block;
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	background-size:cover;
	font-size: 2.4rem;
	text-align: center;
	font-weight: bold;
}
.historyExam{
	margin-top: 1rem;
}
.historyExamList li .scorePass i{
	background-image: url(../images/icons/score-pass.png);
}

.historyExamList li .scoreFail {
	color:SlateGray;
}
.historyExamList li .scoreFail i{
	background-image: url(../images/icons/score-fail.png);
}
/*--panel--*/
.panel-head{
	height:11rem;
	padding-top:1rem;
	background-color:#f5f5f5;
	box-shadow: 0px -2px 2px 0 #f0f0f0 inset;
}
.avatar{
	width: 7.5rem;
	height: 7.5rem;
	/*background-image:url(../images/avatar.jpeg);*/
	background-size:cover;
	border-radius: 8rem;
	margin:0 auto;
	overflow:hidden;
}
.avatar img{
	width: 7.5rem;
	height: 7.5rem;
}
.panel-head .nickname{
	margin: 0.7rem auto;
	width:auto;
	text-align: center;
	font-weight: normal;
	font-size: 1.3rem;
}
.panel-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.panel-list li{
	height: 2rem;
	line-height: 3rem;
	padding:1rem;
	font-size: 1.2rem;
}
.panel-list li a{
	color:inherit;
}
.panel .logout{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4rem;
	background-color: slateGray;
	color:white;
	line-height: 4rem;
	border-radius: 0;
}
/*--------------Exam-----------------*/
div[data-page=exam]{
	font-size: 1.3rem;
}
div[data-page=exam] .page-content{
	padding-bottom:3.5rem;
}
.exam-title{
	height: 3rem;
	padding: 0 1rem;
	font-size: 1.3rem;
}
.exam-title h2{
	margin: 0;
	line-height: 3rem;
	font-size: inherit;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.exam-title p{
	margin: 0;
	font-size: inherit;
	line-height: 3rem;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:lightcoral;
}
.question{
	min-height: 5rem;
	padding:1rem;
}
.question-type{
	color:lightcoral;
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: normal;
	margin-top:-0.5rem;
}
.question-type span{
	border-bottom: 1px solid #eee;
	padding:0 5rem 0.3rem 0rem;
}
.question-content{
	font-size: 1.3rem;
}
.question-content p{
	margin:1rem 0;
	text-indent:2rem;
	font-size: inherit;
}
.question .code{
  font-size: 1.2rem;
}
.question .code pre{
	margin:0;
}
.answerList{
	background: #fff;
	margin-top:1rem;
}
.answerList .optionCode{
	margin-left:0.5rem;
	color:lightcoral;
}
.answerList .icon-form-radio,.answerList .icon-form-checkbox{
	border-color: lightcoral !important;
}
.answerList i.icon-form-radio:after,.answerList i.icon-form-checkbox:after{
	background-color: lightcoral !important;
}
.answerList .item-title{
	white-space: pre-wrap;
}
.answerList .label-radio .item-title code{
	background: transparent;
}
/*--turning--*/
.turning{
	height: 5rem;
	border-top:1px solid #eee;
}
.turning .toolbar-inner .link{
	flex-grow:1;
	color:lightcoral;
}
div[data-page=exam] .turning .toolbar-inner .link:nth-child(1){
	border-right:1px solid #eee;
}
.turning .toolbar-inner .link:before{
	background-image: radial-gradient(circle at center,rgba(200, 200, 200, 0.2) 66%,rgba(23, 26, 232, 0) 66%);
}
div[data-page=exam] .turning .toolbar-inner .link .ripple-wave{
	background-color: rgba(135,206,255,0.5);
}
.turning{
	background: #fff;
}
/*-----------AnswerSheet-----------*/
div[data-page=answersheet] .page-content{
	padding-bottom:7rem;
}
.navbar .right .countdown i{
	font-size: 1.3rem;
	font-weight: normal;
}
.sheet-title h2{
	text-align: center;
	font-size: 1.4rem;
	padding:0.5rem;	
	color:lightcoral;
}
.exam-intro{
	min-height: 5rem;
}
.exam-intro-content ul{
	list-style:none;
	padding: 0.5rem;
	margin: 0;
}
.exam-intro-content ul li{
	padding:0.2rem;
	font-size: 1.2rem;
	text-align: center;
}
.exam-progressbar{
	height: 1.5rem;
	line-height: 1.5rem;
	background: skyblue;
	position: relative;
}
.exam-progressbar .current-progress{
	height: inherit;
	background: lightcoral;
	width:60%;
}
.exam-progressbar .exam-progress{
	position: absolute;
	height: inherit;
	line-height: inherit;
	top: 0;
	right: 1rem;
	width: 100%;
	text-align: right;
	color:white;
}
.qid-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 1rem 0;
}
.qid-list .qid-item{
	width: 20%;
	height: 5rem;
	/*border:1px solid #eee;*/
	box-sizing: border-box;
	text-align: center;
	border:0;
}
.qid-list .qid-item .qid{
	display: inline-block;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	border-radius: 10%;
	border:0.1rem solid skyblue;
	color:skyblue;
	text-align: center;
	vertical-align: middle;
	font-size:1.2rem;
	font-weight: normal;
	position: relative;
	opacity: 1;
	transition: 0.3s;
	overflow: hidden;
}
.qid-list .qid-item .qid.qid-answered .ripple-wave{
	background: rgba(255,255,255,0.5);
	z-index: 1;
}
.qid-list .qid-item .qid .ripple-wave{
	background: rgba(135,206,255,0.3);
}
.qid-list .qid-item .qid.active-state{
	opacity: 0.8
}
.qid-list .qid-item .qid.qid-answered{
	background: lightcoral;
	border-color: lightcoral;
	color:white;
}
.qid-list .qid-item .qid.qid-active{
	border-color: lightcoral;
	color:lightcoral;
}
.handin{
	background-color: lightcoral;
}
.handin .handin-btn{
	color:white !important;
}
.handin-btn .ripple-wave{
	z-index: 1;
}